<%
  fields_to_edit = nil

  fields_settings = RedmineGoodiesSettings.fields_to_quick_edit

  if fields_settings.present?
    fields_to_edit = RedmineGoodiesQuickEditHelper.parse_fields_list(fields_settings)
  end

  if RedmineGoodiesSettings.add_parent_to_quick_edit?
    # create an empty list in case the above code did not fill it
    fields_to_edit = fields_to_edit || []
    I18n.with_locale(:en) do
      # get the Field name from english
      fields_to_edit << l(:field_parent_issue)
    end
  end
%>

<% if User.current.allowed_to?(:edit_issues, @projects || @project) %>
  <li class="folder">
    <a href="#" class="submenu icon icon-edit"><%= l(:quick_edit_modal_title) %></a>
    <ul>
      <% if fields_to_edit.present? %>
        <% fields_to_edit.each do |item| %>
          <% display_name = RedmineGoodiesQuickEditHelper.get_display_name(item) %>
          <% field_info = RedmineGoodiesQuickEditHelper.get_list_of_fields([item]).first %>
          <% editable = RedmineGoodiesQuickEditHelper.field_editable_by?(field_info, @issues, User.current) %>
          <% if display_name == "Parent task" %>
            <li class="menu-separator" style="border-top: 1px solid #ccc; margin: 5px 0; padding: 0; height: 0; list-style: none; line-height: 0;"></li>
          <% end %>
          <li>
            <% if editable %>
              <%= context_menu_link h(display_name),
                                    redmine_goodies_edit_field_path(:ids => @issue_ids, :field_name => item),
                                    :remote => true %>
            <% else %>
              <%= context_menu_link "#{display_name} (#{l(:quick_edit_read_only)})", '#', :onclick => 'return false;' %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li>
          <span class="icon icon-warning"><%= l(:quick_edit_no_fields_configured) %></span>
        </li>
      <% end %>
    </ul>
  </li>
  <li class="folder">
    <a href="#" class="submenu icon icon-edit"><%= Redmine::Plugin.find(:redmine_goodies).name %></a>
    <ul>
      <li>
      <%= link_to '#', 
            id: 'redmine-goodies-reorder-activate-link', 
            class: 'icon icon-sort-handle' do %>
        <%= l(:settings_reorder_title) %><br />(CTRL + R)
      <% end %>
      </li>
      <li>
        <%= link_to l(:reorder_recalculate_context_menu), '#',
              id: 'redmine-goodies-recalculate-link',
              class: 'icon icon-sort-handle',
              data: {
                issue_ids: @issue_ids.join(','),
                recalculate_url: redmine_goodies_recalculate_field_path
              } %>
      </li>
    </ul>
  </li>
  <li class="menu-separator" style="border-top: 1px solid #ccc; margin: 5px 0; padding: 0; height: 0; list-style: none; line-height: 0;"></li>
<% end %>

