<p>
    <label for="settings_controller_remove_lazy"><%= l(:settings_controller_remove_lazy) %></label>
    <%= hidden_field_tag 'settings[remove_lazy_loading]', 0, :id => nil %>
    <%= check_box_tag 'settings[remove_lazy_loading]', 1, Setting.plugin_redmine_goodies[:remove_lazy_loading] == '1' %>
    <em class="info"><%= l(:settings_controller_remove_lazy_text) %></em>
</p>

<p>
    <label for="settings_controller_collapsible_images"><%= l(:settings_controller_collapsible_images) %></label>
    <%= hidden_field_tag 'settings[collapsible_images]', 0, :id => nil %>
    <%= check_box_tag 'settings[collapsible_images]', 1, Setting.plugin_redmine_goodies[:collapsible_images] == '1' %>
    <em class="info"><%= l(:settings_controller_collapsible_images_text) %></em>
</p>

<hr/>
<h3><%= l(:quick_edit_modal_title) %></h3>

<p>
    <label for="settings_fields_to_quick_edit"><%= l(:quick_edit_fields_setting) %> </label>
    <%= text_area_tag "settings[fields_to_quick_edit]", Setting.plugin_redmine_goodies[:fields_to_quick_edit], :rows=> 3 %>
    <em class="info"><%= l(:assist_subtask_settings_fields_note) %></em>
    <em class="info"><%= l(:quick_edit_fields_setting_notes) %></em>
    <em class="info"><%= l(:assist_subtask_settings_fields_note_2) %></em>
    <em class="info"><%= l(:assist_subtask_settings_fields_note_3) %></em>
    <em class="info"><%= l(:assist_subtask_settings_fields_note_4) %></em>
    <em class="info"><%= l(:assist_subtask_settings_fields_note_5) %></em>
</p>
<p>
    <label for="settings_add_parent_to_quick_edit"><%= l(:quick_edit_fields_add_parent) %> </label>
    <%= hidden_field_tag 'settings[add_parent_to_quick_edit]', 0, :id => nil %>
    <%= check_box_tag 'settings[add_parent_to_quick_edit]', 1, Setting.plugin_redmine_goodies[:add_parent_to_quick_edit] == '1' %>
</p>

<hr/>
<h3><%= l(:settings_reorder_title) %></h3>
<p>
    <label for="settings_enable_issue_reorder"><%= l(:settings_enable_issue_reorder) %></label>
    <%= hidden_field_tag 'settings[enable_issue_reorder]', 0, :id => nil %>
    <%= check_box_tag 'settings[enable_issue_reorder]', 1, (Setting.plugin_redmine_goodies[:enable_issue_reorder].presence || '1') == '1' %>
    <em class="info"><%= l(:settings_enable_issue_reorder_text) %></em>
</p>

<p>
    <label for="settings_reorder_enable_for"><%= l(:settings_reorder_enable_for) %></label>
    <%= select_tag 'settings[reorder_enable_for]',
        options_for_select([
            [l(:settings_reorder_enable_for_any), 'any'],
            [l(:settings_reorder_enable_for_whitelist), 'whitelist'],
            [l(:settings_reorder_enable_for_blacklist), 'blacklist']
        ], Setting.plugin_redmine_goodies[:reorder_enable_for] || 'any') %>
</p>

<p>
    <label for="settings_reorder_specified_fields"><%= l(:settings_reorder_specified_fields) %></label>
    <%= text_area_tag "settings[reorder_specified_fields]", Setting.plugin_redmine_goodies[:reorder_specified_fields], :rows=> 3, :id => 'settings_reorder_specified_fields' %>
    <em class="info"><%= l(:settings_reorder_specified_fields_text, :quick_edit_fields_setting => l(:quick_edit_fields_setting)) %></em>
</p>

<p>
    <label for="settings_reorder_force_fields"><%= l(:settings_reorder_force_fields) %></label>
    <%= text_area_tag "settings[reorder_force_fields]", Setting.plugin_redmine_goodies[:reorder_force_fields], :rows=> 3, :id => 'settings_reorder_force_fields' %>
    <em class="info"><%= l(:settings_reorder_force_fields_text1) %></em>
    <em class="info"><%= l(:settings_reorder_force_fields_text2) %></em>
    <em class="info"><%= l(:settings_reorder_force_fields_text3) %></em>
</p>
<script>
(function() {
  var sel = document.getElementById('settings_reorder_enable_for');
  var txt = document.getElementById('settings_reorder_specified_fields');
  function toggle() {
    txt.disabled = (sel && sel.value === 'any');
  }
  if (sel && txt) {
    toggle();
    sel.addEventListener('change', toggle);
  }
})();
</script>

<hr/>
<h3><%= l(:organize_cq_link_text) %></h3>
<p>
    <label for="settings_organize_custom_queries"><%= l(:settings_organize_custom_queries) %></label>
    <%= hidden_field_tag 'settings[organize_custom_queries]', 0, :id => nil %>
    <%= check_box_tag 'settings[organize_custom_queries]', 1, RedmineGoodiesSettings.organize_custom_queries? %>
</p>

<hr/>
<h3><%= l(:settings_quality_of_life) %></h3>
<p>
    <label for="settings_reposition_context_submenu"><%= l(:settings_reposition_context_submenu) %></label>
    <%= hidden_field_tag 'settings[reposition_context_submenu]', 0, :id => nil %>
    <%= check_box_tag 'settings[reposition_context_submenu]', 1, Setting.plugin_redmine_goodies[:reposition_context_submenu] != '0' %>
    <em class="info"><%= l(:settings_reposition_context_submenu_text) %></em>
</p>
<p>
    <label for="settings_context_submenu_max_height"><%= l(:settings_context_submenu_max_height) %></label>
    <%= text_field_tag 'settings[context_submenu_max_height]', Setting.plugin_redmine_goodies[:context_submenu_max_height], :size => 10, :placeholder => '' %>
    <em class="info"><%= l(:settings_context_submenu_max_height_text1) %></em>
    <em class="info"><%= l(:settings_context_submenu_max_height_text2) %></em>
</p>
